body
{
background-color:yellow;
}
table
{
margin left-20px;
font-size:40px;
}
img{
height:300px;
width:400px;
margin-left:20px;



}
img{
height:300px;
width:400px;
margin-right:20px;



}